/* Use your own code or past solution for Great Idea Web Page CSS here! */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body{
  max-width: 1000px;
  margin: 0 auto;
}

#main{
  padding: 2% 0 0 0;
}
/* Navigation */
.nav-container{
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container nav{
  /* border: 2px solid orange; */
  padding: 1%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* CTA */
.header{
  /* border: 2px solid red; */
  display: flex;
  justify-content:space-between;
  height: 60vh;
  align-items: center;
}

.header .cta{
  /* border: 2px solid orange; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CTA Header */

.header .cta h2{
  text-align: center;
  font-size: 80px;
}

/* CTA Button */
.header .cta a {
  border: 1px solid black;
  padding: 2%;
  width: 18rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}


/* Middle seciton */
#middle{
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 5% 0;
}

#middle-top-container,
#middle-bottom-container{
  display: flex;
  justify-content: space-between;
}

#middle-image-container{
  padding: 5% 0;
}

#middle-image-container img{
  width: 100%;
}

#features,
#about{
  width: 48%;
}

#service-container,
#product-container,
#vision-container{
  /* border: 2px solid red; */
  width: 32%;
}

footer{
  padding-top: 2%;
}

.contact-info address{
  margin-top: 2%;
}

.contact-info .phone-number{
  margin: 2% 0;
}

 .copy-right{
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

/* Mobile view */
@media(max-width: 500px){
  
  body{
    max-width: 480px;
    padding: 2%;
    overflow: auto;
    
  }
  
  /* Navigation */
  .nav-container{
    flex-wrap: wrap-reverse;
  }

  .logo{
    width: 100%;
    text-align: center;
  }

  .nav-container nav{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
  }

  .nav-container nav a{
    text-align: center;
    width: 100%;
    padding: 2%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
  }

  /* CTA */
  .header .cta{
    width: 100%;
  }
  .header-img-container{
    display: none;
  }
  
  /* Mid section */
  #middle-top-container,
  #middle-bottom-container{
    flex-wrap: wrap;
  }

  #middle-top-container #features,
  #middle-top-container #about,
  #middle-bottom-container #service-container,
  #middle-bottom-container #product-container,
  #middle-bottom-container #vision-container{
    width: 100%;
  }

  #middle-top-container #about{
    padding-top: 5%;
  }

  #middle-bottom-container #product-container{
    padding: 5% 0;
  }

}
